{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/blog/bootstrap/css/bootstrap.min.css' %}">
    <title>{% block title %}Default title{% endblock title %}</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>{% block header %}{% endblock header %}</h1>
        </div>          
    </header>
    {% block body %}
    {% endblock body %}
    <script src="{% static '/blog/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>